@import '~antd/lib/style/themes/default.less';
@import '../../utils/utils.less';

.rowBackground{
  margin-bottom: 8px;
  padding: 12px;
  border-radius: 5px;
  background: #fff;
  // box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.quickHand{
  font-weight: bolder;
  font-size: 16px;
}

.static{
  vertical-align: middle;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Microsoft YaHei', sans-serif;
  font-weight: 900;
  font-size: 2.5em;
  color: #fff;
  // line-height: 24px;
}

.myCard{
  :global{
    .ant-tabs-nav .ant-tabs-tab-active{
      color: #fff;
      font-weight: 1000;
      // width:100%-111px;
      text-align: center;
    }
    .ant-tabs-tab{
      color: #fff;
    }
    .ant-tabs-tab:hover{
      color: #fff;
      font-weight: 1000;
    }
    .anticon{
      color: #fff;
    }
    .ant-tabs-ink-bar {
      background-color: #fff;
    }
  }
}


